:root {
   
    --white:white;
    --background-color: #f4f5fa;
    --header_bg:#9155fd;
    --icon:#8358ff;
    --black:rgb(0, 0, 0);
    --blue:#0d102d;
    --grey:rgb(143, 140, 140);
    --green:#12902a;
    --light_blue:#101436;
    --section_3:#131740;
    --check:#10b981;
    --check:#10b981;
    --light_bg:#e5f2fa;
    --c_li:#010129;
  }

*{
    margin: 0px;
    padding: 0px;
    font-family: Inter,sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}
.section6{
    background: var(--blue);
}
.section6 .container{
    padding:43px 0px;
    max-width: 1170px;
}
.section6 .container .row{
    margin-top: 42px;
}
.section6 .container .row .section6_first img{
    height: 35px;
    width: 150px;
    padding-left: 10px;
}
.section6 .container .row .section6_first p{
    color: var(--grey);
    margin-top: 43px;
    font-size: 15px;
    font-weight: 600;
}
.section6 .container .row .section6_first .icons{   
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        width: 150px;
        
    }
    .section6 .container .row .section6_first .icons .icon{   
        transition: all .3s linear;
        color: var(--grey);
    }
    .section6 .container .row .section6_first .icons .icon:hover{   
        color: var(--white);
        cursor: pointer;
    }
    .section6 .container .row ul{
        list-style: none;
    }
    .section6 .container .row ul h3{
        color: var(--white);
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 21px;
    }
    .section6 .container .row ul li{
        color: grey;
        font-size: 15px;
        transition: all .3s linear;
        font-weight: 600;
        padding: 3px;
    }
.section6 .container .row ul li:hover{
    color: var(--white);
    cursor: pointer;
}
.section6 .container .row .last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.section6 .container .row .last p{
    color: var(--grey);

}
.section6 .container .row .last p span:hover{
    color: var(--white);
}
.section6 .container .row .last p span{
    transition: all .3s linear;
    cursor: pointer;
}
.section6 .container .row .last .terms{
    display: flex;
}
.section6 .container .row .last .terms h3 a{
    text-decoration: none;
    color: var(--grey);
    transition: all .3s linear;

}
.section6 .container .row .last .terms h3{
    font-size: 16px;
    margin-right: 13px;
    transition: all .3s linear;
}
.section6 .container .row .last .terms h3 a:hover {
    color: var(--white);
}



@media screen and (max-width: 1200px) {
    .section6 .container .row {
        width: 100%;
    }
    .section6 .container .row .col-md-5 .section6_first{
        margin-left: 30px;
    }
    .section6 .container .row ul {
         padding: 0px;
        margin-top: 20px;
    }
    .section6 .container {
        padding: 43px 21px;
    }
    .section6 .container .row .last p{
        padding-top: 10px;
    }
}
@media screen and (max-width: 768px) {
    .section6 .container .row .last {
        display: flex;
        /* justify-content: space-between; */
        align-items: flex-start;
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
    }


}

@media screen and (max-width: 330px) {
    .section6 .container .row .last{
        align-items: self-start;
    }
    .section6 .container .row .last .terms {
        flex-direction: column;
    }
}


.back_bg .section6{
    background-color: var(--white);
}
.back_bg .section6 .container .row .section6_first img{
    filter: invert(1);
}
.back_bg .section6 .container .row .section6_first p{
    color: var(--black);
    font-weight: 100;
}
.back_bg .section6 .container .row .section6_first .icons .icon:hover {
    color: var(--header_bg);

}
.back_bg .section6 .container .row .last p{
    color: var(--black);
}
.back_bg .section6 .container .row .last p span:hover {
    color: var(--header_bg);
}
.back_bg .section6 .container .row .last .terms h3 a{
    color: var(--black);
}
.back_bg .section6 .container .row .last .terms h3:hover a{
    color: var(--header_bg);
}
.back_bg .section6 .container .row ul h3{
    color: var(--c_li);
}
.back_bg .section6 .container .row ul li {
    color: var(--black);
    font-weight: 100;
}
.back_bg  .section6 .container .row ul li:hover {
    color: var(--header_bg);
}