@mixin dash {
  display: flex;
}
$background: white;
$body: #f4f5fa;
$start_font: #9155fd;
$font_h2: #534f5a;
$p: grey;
$h_color: #7f3ef8;
$back: #f4f5fa;
$git: #fafafa;
$black: #000000;
$customer: #56ca00;
$dollar: #16b1ff;
$products: #ffb400;
$zip_back: #f7f7f8;
$red: #ff4c51;
// $breakpoint_first:1200px;

.dashboard {
  width: 100%;
  display: flex;

  .sidebar {
    position: fixed;
    width: 223px;
    background-color: $back;
    height: 100vh;
    box-shadow: 10px 0 22px -2px #888;
    margin-top:-7px;
    border-radius: 0px 10px;
    margin-left: -11px;
    transition: all 0.3s linear;

    .sidebar_brand {
      padding-top: 26px;
      padding-left: 20px;

      h1 {
        color: $font_h2;
        font-size: 21px;
        text-align: left;
        margin-left: 15px;
      }
      .icon {
        height: 44px;
        margin-top: -5px;
        color: $start_font;
      }
    }
    .sidebar-pages {
      @include dash;
      align-items: center;
      justify-content: flex-start;
      .nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 13px;
        .nav-item {
          transition: all .3s linear;
          &:hover{
            background-color: $start_font;
            border-radius: 40px;
            border: none;
          }
          .nav-link {
            color: $font_h2;
            border: none;
            &:hover{
              color: white;
            }
            &:hover .home{
              color: white;
            }
            &:hover .manage{
              color: white;
            }
            &:hover .login{
              color: white;
            }
            &:hover .registers{
              color: white;
            }
            &:hover .error{
              color: white;
            }
            &:hover .app_icon{
              color: white;
            }
            &:hover .credit_card{
              color: white;
            }
            &:hover .table_icon{
              color: white;
            }
            &:hover .form_layout{
              color: white;
            }
         
            .home {
              height: 20px;
              margin-top: -5px;
              width: 28px;
              color: $start_font;
            }
            .manage {
              height: 20px;
              margin-top: -5px;
              width: 28px;
              color: $start_font;

            }
            .login {
              height: 20px;
              margin-top: -5px;
              width: 28px;
              background: none;
              color: $start_font;

            }
            .registers {
              height: 20px;
              margin-top: -5px;
              width: 28px;
              background-color: none;
              color: $start_font;

            }
            .error {
              height: 20px;
              margin-top: -5px;
              width: 28px;
              background-color: none;
              color: $start_font;

            }
            .app_icon {
              height: 20px;
              margin-top: -5px;
              width: 28px;
              background-color: none;
              color: $start_font;

            }
            .credit_card {
              height: 20px;
              margin-top: -5px;
              width: 28px;
              background-color: none;
              color: $start_font;

            }
            .table_icon {
              height: 20px;
              margin-top: -5px;
              width: 28px;
              background-color: none;
              color: $start_font;

            }
            .form_layout {
              height: 20px;
              margin-top: -5px;
              width: 28px;
              background-color: none;
              color: $start_font;

            }
          }
        }
        p {
          margin-top: 20px;
          color: grey;
          margin-left: 11px;
          font-size: 13px;
        }
      }
    }
  }
  .header1 {
    background-color: $back;
    width: 100%;
    // padding-left: 223px;
    transition: all 0.3s linear;
    .one {
      .two {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 75px;
        align-items: center;
        transition: all .5s linear;
        position: relative;
        box-shadow: -5px 2px 2px -1px grey;
    margin-bottom: 8px;
        .navbar-toggler {
          background-color: $start_font;
          border-radius: 5px;
          margin-left: 10px;
          .navbar-toggler-icon{
            .tog_icon{
              color:white;

            }
          }
        }
        .header_first {
          border: 1px solid $p;
          height: 30px;
          height: 43px;
          margin-left: 20px;
          border-radius: 20px;
          margin-right: 10px;
          .field_icon {
            display: flex;
            padding-top: 6px;
            input {
              border: none;
              background: transparent;
              font-size: 12px;
              height: 42px;
              margin-top: -7px;
              border-radius: 20px;
              &:focus{
                border: none;
                outline: none;
              }
             }
            .search_icon {
              margin-left: 9px;
              padding-top: 2px;
            }
          }
        }
        .header_second {
          display: flex;
          button {
            background-color: #9155fd;
            border-radius: 6px;
            width: 105px;
            color: white;
            border: none;
            height: 42px;
            margin-right: 35px;
            transition: all 0.3s linear;
            &:hover {
              background-color: $h_color;
            }
          }
        }
      }
    }
    .section {
      .container {
        padding-bottom: 20px;
        max-width: 100%;
        .main-content{
          padding-left: 223px;
        .row {
          display: flex;
          width: 100%;
          border-radius: 13px;
          margin: 0px;
          margin-left: -13px;
          align-items: center;
          // padding-left: 223px;
          .col-md-8{
            padding: 0px;
          }
          .congrats {
            background-color: white;
            border-radius: 8px;
            padding: 30px;
            h2 {
              font-size: 21px;
            }
            p {
              color: $p;
              font-size: 16px;
            }
            .troffy {
              display: flex;
              justify-content: space-between;
              padding-top: 22px;
              .heading_h3 {
                h3 {
                  font-size: 22px;
                  color: $start_font;
                  font-weight: bold;
                }
                button {
                  background-color: #9155fd;
                  transition: all 0.3s linear;
                  border: none;
                  border-radius: 7px;
                  width: 97px;
                  height: 34px;
                  color: white;
                  font-size: 13px;
                  &:hover {
                    background-color: $h_color;
                  }
                }
              }
              img {
                height: 95px;
                width: 88px;
                margin-top: -29px;
              }
            }
          }
          .growth {
            background-color: white;
            border-radius: 10px;
            padding: 13px;
            padding-left: 23px;
            h1 {
              font-size: 22px;
              padding-top: 23px;
            }
            p {
              font-size: 16px;
              span {
                color: $p;
              }
            }
            .growth_icon {
              @include dash();
              justify-content: space-between;
              align-items: center;
              .growth_first {
                @include dash();
                padding: 7px;
                margin-top: 24px;
                .call_icon {
                  background-color: $start_font;
                  height: 41px;
                  width: 41px;
                  border-radius: 7px;
                  color: white;
                  padding: 7px;
                }
                .growth_heading {
                  padding: 8px;
                  line-height: 0.1px;
                  p {
                    color: $p;
                    font-size: 14px;
                  }
                  h4 {
                    font-size: 17px;
                  }
                }
                .customers {
                  background-color: $customer;
                  height: 41px;
                  width: 41px;
                  border-radius: 7px;
                  color: white;
                  padding: 7px;
                }
                .products {
                  background-color: $products;
                  height: 41px;
                  width: 41px;
                  border-radius: 7px;
                  color: white;
                  padding: 7px;
                }
                .dollar {
                  background-color: $dollar;
                  height: 41px;
                  width: 41px;
                  border-radius: 7px;
                  color: white;
                  padding: 7px;
                }
              }
            }
          }
        }
        .row_first{
          width: 100%;
          margin-top: 20px;
          padding-bottom: 16px;
          display: flex;
          .formar{
            display: flex;
            width: 100%;
            border-radius: 13px;
            margin: 0px;
            margin-left: 27px;
            padding: 0px;
            margin-top: 12px;

          }
          .weekly {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            width: 344px;
            margin-left: 0px;
            h2 {
              font-size: 23px;
            }
            .image1 {
              width: 100%;
              img {
                width: 100%;
                height: 179px;
              }
            }
          
          
            .yours {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 5px;
              h2 {
                font-size: 22px;
              }
              p {
                color: $p;
                font-size: 14px;
              }
            }
            button {
              background-color: $start_font;
              color: white;
              width: 100%;
              border-radius: 6px;
              padding: 8px;
              border: none;
              transition: all 0.3s linear;
              font-size: 13px;
              &:hover {
                background-color: $h_color;
              }
            }
          }
          .total {
            background-color: white;
            border-radius: 10px;
            padding: 15px;
            margin-left: 3px;
            width: 377px;
            h2 {
              font-size: 20px;
              padding-top: 6px;
            }
            h1 {
              font-size: 31px;
              padding-top: 25px;
              span {
                color: $customer;
                font-size: 19px;
              }
            }
            p {
              color: $p;
              font-size: 14px;
            }
            .zip {
              display: flex;
              justify-content: space-between;
              padding-bottom: 20px;
              .zip_first {
                display: flex;
                .zip_img {
                  height: 20px;
                  width: 46px;
                  img {
                    width: 100%;
                    background-color: $zip_back;
                    padding: 5px;
                    border-radius: 3px;
                  }
                }
                .zip_heading {
                  line-height: 1.1px;
                  h4 {
                    font-size: 18px;
                    padding-left: 10px;
                  }
                  p {
                    font-size: 12px;
                    padding-left: 9px;
                  }
                }
              }
              .zip_second {
                .progress1 {
                  display: flex;
                  flex-direction: column;
                  h3 {
                    font-size: 16px;
                    font-weight: 600;
                  }
                  #file {
                    width: 96px;
                    height: 10px;
                  }
                }
              }
              .zip_img1 {
                height: 20px;
                width: 46px;
                img {
                  width: 100%;
                  background-color: #f7f7f8;
                  padding: 7px;
                  border-radius: 3px;
                  height: 44px;
                }
              }
            }
          }
          .row {
            .profit {
              background-color: white;
              border-radius: 10px;
              padding: 10px;
              margin-bottom: 11px;
              width: 138px;
              .poll {
                background-color: $customer;
                border-radius: 50%;
                color: white;
                width: 40px;
                height: 40px;
                padding: 8px;
              }
              h1 {
                font-size: 16px;
                padding-top: 12px;
              }
              h2 {
                font-size: 18px;
                font-weight: bold;
                padding-top: 10px;
                sup {
                  color: $customer;
                }
              }
              p {
                font-size: 15px;
                padding-top: 5px;
              }
              .dollar1 {
                background-color: $p;
                border-radius: 50%;
                color: white;
                width: 40px;
                height: 40px;
                padding: 8px;
              }
              .business {
                background-color: $start_font;
                border-radius: 50%;
                color: white;
                width: 40px;
                height: 40px;
                padding: 8px;
              }
              .help {
                background-color: $products;
                border-radius: 50%;
                color: white;
                width: 40px;
                height: 40px;
                padding: 8px;
              }
            }
          }
        }
        .row_second {
          display: flex;
          width: 100%;
          margin-top: 0px;
          .row{
            padding: 0px;
          }
          .col-md-8{
            .row{
              padding: 0px;
              .col-md-6{
                padding: 0px;
              }
            }
          }
          .row{
            margin-left: 6px;
          }
          .count {
            background-color: white;
            width: 346px;
            padding: 15px;
            border-radius: 10px;
            margin-left: 0px;
            h2 {
              font-size: 23px;
            }
            .country {
              display: flex;
              justify-content: space-between;
              margin-top: 24px;
              .country_first {
                display: flex;
                h6 {
                  background-color: $customer;
                  border-radius: 50%;
                  color: white;
                  width: 40px;
                  height: 40px;
                  padding: 10px;
                  font-size: 18px;
                  padding-left: 7px;
                }
                .dollars {
                  margin-left: 10px;
                  line-height: 1.1px;
                  h2 {
                    font-size: 18px;
                    span {
                      color: $customer;
                    }
                  }
                }
                .second_h6 {
                  background-color: $red;
                }
                .third_h6 {
                  background-color: $products;
                  padding-left: 12px;
                }
                .four_h6 {
                  background-color: $font_h2;
                  padding-left: 9px;
                }
                .five_h6 {
                  background-color: $red;
                }
              }
              .left {
                line-height: 1.1px;
                h3 {
                  font-size: 17px;
                }
                p {
                  font-size: 12px;
                  text-align: right;
                }
              }
            }
          }
          .row {
            .deposit {
              padding: 14px;
              padding-bottom: 33px;

              .all {
                display: flex;
                justify-content: space-between;
                margin-bottom: 27px;
                h2 {
                  font-size: 21px;
                }
                p {
                  color: $p;
                  font-size: 14px;
                }
              }
              .account {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 20px;
                .sell {
                  display: flex;
                  img {
                    height: 33px;
                  }
                  .sell_para {
                    line-height: 1.1px;
                    margin-left: 11px;
                    h3 {
                      font-size: 14px;
                    }
                    p {
                      color: $p;
                      font-size: 13px;
                    }
                  }
                }
                h4 {
                  color: $customer;
                  font-size: 14px;
                  font-weight: bold;
                }
                .neg {
                  color: $red;
                }
              }
            }
          }
          .withdraw {
            position: relative;
            &::before {
              content: "";
              border: 1px solid grey;
              position: absolute;
              height: 400px;
              top: 21px;
              left: -3px;
            }
          }
        }
      }
        // .row3 {
        //   margin-top: 20px;
        //   table {
        //     width: 100%;
        //     background-color: white;
        //     border-radius: 10px;
        //     tr {
        //       .table_heading {
        //         padding: 20px;
        //         font-weight: 100;
        //         font-size: 15px;
        //         border-bottom: 1px solid grey;
        //       }
        //       p {
        //         color: $p;
        //       }
        //       .data {
        //         display: flex;
        //         flex-direction: column;
        //         line-height: 1.1px;
        //         td {
        //           padding: 3px;
        //           padding-left: 15px;

        //           h4 {
        //             font-size: 15px;
        //           }
        //           p {
        //             color: $p;
        //             font-size: 14px;
        //           }
        //         }
        //       }

        //       td {
        //         button {
        //           background-color: $start_font;
        //           border: none;
        //           border-radius: 10px;
        //         }
        //       }
        //     }
        //   }
        // }
      }
    }
  }
}




.mystyle {
  .dashboard {
    .sidebar {
      width: 80px;
      box-shadow: 10px 0 18px -2px #888;
      transition: all 0.3s linear;
      .sidebar_brand {
        h1 {
          margin-left: -4px;
          span {
            display: none;
          }
          .icon {
            height: 60px;
            margin-top: -16px;
            color: #9155fd;
            width: 35px;
            margin-left: 10px;
          }
        }
      }
      .sidebar-pages {
        .nav {
          height: 100vh;
          p{
            display: none;
          }
          .nav-item {
            .nav-link {
              width: 60px;
              margin-top: 12px;
              span {
                display: none;
              }
              .home{
                height: 20px;
                margin-top: -15px;
                width: 28px;
                padding: 0px;
              }
            }
          }
        }
      }
    }
    .header1 {
      padding-left: 0px;
      transition: all 0.3s linear;
      .section{
        .container{
          margin: 0px;
          max-width: 1961px;
          .main-content{
            padding-left:88px;
            transition: all 0.3s linear;
          }
          .row{
            .col-md-8{
              margin-left: -12px;
              padding: 12px;
            }
          }
          .row_first{
            .weekly{
              width: 393px;
            }
            .total{
              width: 432px;
            }
            .row{
              .profit{
                width: 158px;
              }
            }
          }
          .row_second{
            .count{
              width: 393px;
            }
          }

        }
      }
    
    
    }
      .one {
        .container{
          margin: 0px;
          max-width: 1961px;
          .two {
            justify-content: space-between;
            position: relative;
            .navbar-toggler {
              margin-left: 18px;
  
            }
            .header_second{
              margin-right: 48px;
              button{
                margin-right: -30px;
              }
            }
          }
        }
     
      }
    }
  }



@media (max-width: 1200px) {
  
    .dashboard{

      .sidebar{
        // display: none;
      }
      .header1{
        margin-left: 0px;
        .one{
          .container{
            max-width: 100%;
          }
         
        }
        .section{
          .container{
            max-width: 100%;
            .row{
              .col-xl-8{
                width: 100%;
                margin-top: 20px;
              }
            }
            .row_first{
              .weekly{
                width: 100%;
                .image1 img{
                  height: 294px;
                }
                .yours{
                  justify-content: flex-start;
                  p br{
                    display: none;
                    padding-left: 27px;
                  }
                }
              }
              .total{
                width: 100%;
                margin-top: 10px;
                margin-left: -1px;
              }
              .formar{
                margin-top: 10px;
                margin-left: -10px;
                .profit{
                  width: 100%;
                  h1{
                    font-size: 24px;
                  }
                  h2{
                    font-size: 22px;
                  }
                  p{
                    font-size: 20px;
                  }
                }
              }
            }
            .row_second{
              .count{
                width: 100%;
              }
              .row{
                margin-left: 2px;
              }
            }
          }

        }
      }
    }
  }
  







  @media (max-width: 768px) {
      .dashboard{
        .header1{
          .section{
            .container{
              .row{
                .growth{
                  .growth_icon{
                  display: flex;
                  align-items: self-start;
                  flex-direction: column;
                }
              } 
              }
              .row_second{
                .withdraw{
                  &::before{
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
  
  
  }










  @media (max-width: 550px) {
    .dashboard{
      .header1{
        .section{
          .container{
            .row{
              .growth{
                .growth_icon{
                  flex-direction: column;
                  align-items: self-start;
                }
              }
            }
          }
        }
      }
    }
  
    .mystyle{
      
    }
  }